<h2 {{action 'toggleBody'}} >{{title}}</h2>
<button {{action 'sayHello'}}>Say Hello</button>
{{#if isShowingBody}}
  <p>{{body}}</p>
{{/if}}
<p>
  <strong>authors: </strong>
  {{#each authors as |author|}}
    {{author}}
    {{!-- {{#unless (@index === authors.length)}} --}}
    ,
    {{!-- {{/unless}} --}}
  {{/each}}
</p>
<h4>Comments</h4>
<ul>
  {{#each comments as |comment|}}
    <li>
      <strong>{{comment.name}}</strong> - {{comment.comment}}
    </li>
  {{/each}}
</ul>
<hr>
<h4>Add Comment</h4>
<form {{action 'submitAction' on='submit'}}>
  <p>
    Name: {{input value=name}}
  </p>
  <p>
    Comment: {{textarea value=comment}}
  </p>
  <button type="submit">Submit</button>
</form>
